* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  font-family: sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: black;
}

.header-line {
  background: #fff;
  width: 1px;
  height: 110px;
  margin: -40px;
}

.navbar > ul {
  display: flex;
  padding-right: 50px;
}
.navbar > ul > li > a {
  padding-left: 50px;
}
.logo {
  color: #fff;
}
h2 > span {
  color: orangered;
  font-size: 30px;
}
.active > a {
  color: orangered;
}
.active > a:hover {
  color: #fff;
}
.navbar,
.nav {
  font-weight: 700;
}
.navbar > ul > li > a:hover {
  color: orangered;
}
.active > a,
.nav > p {
  color: orangered;
}
.bar,
.cancel {
  display: none;
}
.bar > img,
.cancel > img {
  position: absolute;
  top: 42px;
  right: 40px;
  z-index: 9999;
  height: 30px;
  cursor: pointer;
}
.side-solid {
  position: absolute;
  display: none;
  z-index: 9999999999999999999999999;
  background-color: orangered;
  width: 100%;
}
.side-solid > ul > li {
  padding: 20px 20px 20px 40px;
  border-bottom: 1px solid white;
}

/* header ends  */

/* menus  */

.first-section {
  text-align: center;
  padding: 20px;
}
.first-section > h2 {
  padding: 30px;
  font-size: 40px;
  font-weight: 900;
}
.first-section > h5 {
  font-style: italic;
  font-size: 15px;
  color: orangered;
}

.second-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  gap: 20px;
}

.menus {
  box-shadow: 0px 0 15px rgb(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.image > img,
.menus > h5,
.menus > p {
  place-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.image > img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.price {
  position: absolute;
  border-radius: 50%;
  background-color: orangered;
  padding: 10px;
  margin-top: -70px;
  left: 195px;
}
.menus > h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3px;
  text-transform: capitalize;
  transition: all 0.2s ease-out 0s;
}
.menus > p {
  font-size: 20px;
  color: rgb(148, 129, 126);
  margin-bottom: 34px;
  transition: all 0.2s ease-out 0s;
}
.menus > a {
  margin: 3px 35%;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  color: orangered;
  text-decoration: none;
  border-bottom: 3px solid orangered;
}
.menus > a:hover {
  color: #000;
  border-bottom: 3px solid #000;
}
.icons {
  display: flex;
  padding-top: 40px;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
}
.icon > img {
  height: 20px;
  cursor: pointer;
}
.arrows {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.arrow > img {
  height: 40px;
  cursor: pointer;
}

/* menus ends  */

/* booking  */

.book-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  padding: 20px;
}
.book-us > h1 {
  padding: 30px;
  font-size: 40px;
  font-weight: 900;
  color: orangered;
}
.book-us > h5 {
  font-style: italic;
  font-size: 15px;
  padding-bottom: 20px;
}
form {
  padding: 30px;
}
input,
textarea {
  width: 100%;
  border: none;
  text-transform: capitalize;
  border-width: 1px;
  border-style: solid;
  border-color: orangered;
  padding: 10px 30px 10px 25px;
  border-radius: 25px;
  outline: none;
}
form > button {
  border: none;
  background-color: orangered;
  color: black;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}
form > button > a {
  color: #000;
}

/* booking ends  */

/* footer  */

footer {
  background-color: #000;
  margin: 60px 0 0 0;
  color: white;
  padding: 50px;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.each-social > a > img {
  height: 20px;
}
.design-by {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 80px; */
  gap: 5px;
  padding-bottom: 25px;
}
.design-by a > span {
  color: orangered;
}
.design-by a > span:hover {
  color: #fff;
}

/* footer ends  */

/* media screen  */
@media (max-width: 1284px) {
  .price {
    margin-top: -80px;
    left: 200px;
  }
}
@media (max-width: 1248px) {
  .price {
    margin-top: -90px;
    left: 210px;
  }
}
@media (max-width: 1212px) {
  .price {
    margin-top: -110px;
    left: 190px;
  }
}

@media (max-width: 1157px) {
  .menus > a {
    margin: 3px 30%;
  }
}
@media (max-width: 1081px) {
  .price {
    left: 180px;
  }
}
@media (max-width: 1029px) {
  .price {
    left: 170px;
  }
}
@media (max-width: 963px) {
  .second-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    gap: 20px;
  }
  .price {
    margin-top: -80px;
    left: 200px;
  }
}

@media (max-width: 928px) {
  .logo {
    padding-right: 50px;
  }
  .nav {
    padding-left: 50px;
  }
}
@media (max-width: 900px) {
  .navbar,
  .nav,
  .header-line {
    display: none;
  }

  .bar {
    display: block;
  }

  .price {
    margin-top: -90px;
    left: 190px;
  }
}
@media (max-width: 884px) {
  .social-links {
    gap: 80px;
  }
  .social-media {
    padding-bottom: 50px;
  }
  .design-by {
    gap: 10px;
  }
}
@media (max-width: 833px) {
  .price {
    left: 180px;
  }
}
@media (max-width: 777px) {
  .price {
    left: 160px;
  }
}
@media (max-width: 724px) {
  .price {
    left: 140px;
  }
}
@media (max-width: 600px) {
  .second-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 100px;
    gap: 20px;
  }
  .price {
    margin-top: -80px;
    left: 200px;
  }
}
@media (max-width: 570px) {
  .social-links {
    gap: 60px;
  }
}
@media (max-width: 557px) {
  .price {
    margin-top: -90px;
    left: 190px;
  }
}
@media (max-width: 530px) {
  .header {
    padding: 35px;
  }
  .logo {
    font-size: 14px;
  }
  .bar > img,
  .cancel > img {
    top: 40px;
    right: 35px;
    height: 27px;
  }
  .side-solid > ul > li {
    padding: 20px 20px 20px 40px;
  }
}
@media (max-width: 505px) {
  .price {
    left: 155px;
  }
}
@media (max-width: 457px) {
  .image > img {
    height: 230px;
    width: 230px;
  }
}
@media (max-width: 453px) {
  .price {
    left: 145px;
  }
}
@media (max-width: 447px) {
  footer {
    padding: 60px 40px;
  }
}
@media (max-width: 435px) {
  .image > img {
    height: 210px;
    width: 210px;
  }
  .price {
    left: 135px;
  }
}
@media (max-width: 429px) {
  .menus > a {
    margin: 3px 25%;
  }
  .price {
    left: 120px;
  }
}
@media (max-width: 427px) {
  footer {
    padding: 60px 30px;
  }
}
@media (max-width: 420px) {
  .menus > h5 {
    font-size: 22px;
  }
  .menus > p {
    font-size: 18px;
    color: rgb(148, 129, 126);
  }
}
@media (max-width: 407px) {
  .header {
    padding: 30px;
  }
  .logo {
    font-size: 12px;
  }
  .bar > img,
  .cancel > img {
    top: 39px;
    height: 25px;
  }
  footer {
    padding: 60px 20px;
  }
}
@media (max-width: 387px) {
  .design-by {
    font-size: 15px;
  }
}
@media (max-width: 366px) {
  footer {
    padding: 60px 15px;
  }
}
@media (max-width: 364px) {
  .image > img {
    height: 200px;
    width: 200px;
  }
  .price {
    left: 100px;
  }
  .second-section {
    padding: 80px;
  }
}
@media (max-width: 356px) {
  footer {
    padding: 60px 11px;
  }
}
@media (max-width: 348px) {
  footer {
    padding: 60px 8px;
  }
}
@media (max-width: 342px) {
  .design-by {
    font-size: 13px;
  }
  .social-links {
    gap: 40px;
  }
}
@media (max-width: 330px) {
  .second-section {
    padding: 70px;
  }
}
@media (max-width: 320px) {
  .design-by {
    display: grid;
    font-size: large;
    line-height: 1.5;
  }
}
@media (max-width: 312px) {
  .second-section {
    padding: 60px;
  }
}
@media (max-width: 300px) {
  .second-section {
    padding: 50px;
  }
}
